{{!
Copyright (c) 2023 Oracle and/or its affiliates.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
package {{packageName}};

import java.time.Duration;
import java.time.temporal.ChronoUnit;
import java.util.List;
import java.util.Optional;
import java.util.Set;

import io.helidon.common.GenericType;
import io.helidon.nima.faulttolerance.CircuitBreakerConfig;
import io.helidon.nima.faulttolerance.ErrorChecker;
import io.helidon.nima.faulttolerance.CircuitBreaker;
import io.helidon.nima.faulttolerance.CircuitBreakerMethod;

import jakarta.inject.Inject;
import jakarta.inject.Named;
import jakarta.inject.Singleton;

@Singleton
@Named("{{enclosingClassTypeName.name}}.{{breaker.methodName}}")
{{{generatedSticker}}}
class {{className}} implements CircuitBreakerMethod {
    private static final Set<Class<? extends Throwable>> APPLY_ON = Set.of(
       {{#each breaker.applyOn}}{{this}}.class{{#unless @last}},
      {{/unless}}{{/each}}
    );
    private static final Set<Class<? extends Throwable>> SKIP_ON = Set.of(
       {{#each breaker.skipOn}}{{this}}.class{{#unless @last}},
      {{/unless}}{{/each}}
    );
    private static final ErrorChecker ERROR_CHECKER = ErrorChecker.create(SKIP_ON, APPLY_ON);
    private static final List<GenericType<?>> PARAM_TYPES = List.of(
      {{#each breaker.paramTypes}}new GenericType<{{this}}>() {}{{#unless @last}},
      {{/unless}}{{/each}}
    );

    private final CircuitBreaker breaker;
    {{#if breaker.named}}
    @Inject{{/if}}
    {{className}}({{#if breaker.named}}@Named("{{breaker.name}}") Optional<CircuitBreaker> namedBreaker{{/if}}) {
      {{#if breaker.named}}this.breaker = namedBreaker.orElseGet({{className}}::produceBreaker);{{else}}this.breaker = produceBreaker();{{/if}}
    }

    private static CircuitBreaker produceBreaker() {
      return CircuitBreakerConfig.builder()
                .applyOn(APPLY_ON)
                .skipOn(SKIP_ON)
                .delay(Duration.of({{breaker.delay}}, ChronoUnit.{{breaker.timeUnit}}))
                .name("{{breaker.customName}}")
                .errorRatio({{breaker.errorRatio}})
                .volume({{breaker.volume}})
                .successThreshold({{breaker.successThreshold}})
                .build();
    }

    @Override
    public CircuitBreaker circuitBreaker() {
      return breaker;
    }

    @Override
    public List<GenericType<?>> parameterTypes() {
      return PARAM_TYPES;
    }
}
