{{!
Copyright (c) 2023 Oracle and/or its affiliates.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
package {{packageName}};

import java.util.List;

import io.helidon.common.Weight;
import io.helidon.nima.webserver.http.GeneratedHandler;
import io.helidon.nima.webserver.http.Handler;
import io.helidon.nima.webserver.http.HttpFeature;
import io.helidon.nima.webserver.http.HttpRouting;
import io.helidon.nima.webserver.http.HttpRules;
import io.helidon.nima.webserver.http.HttpService;

import jakarta.inject.Inject;
import jakarta.inject.Named;
import jakarta.inject.Provider;
import jakarta.inject.Singleton;

@Singleton
@Named("{{enclosingClassTypeName.name}}")
@Weight({{weight}})
{{{generatedSticker}}}
class {{className}} implements HttpFeature {
    private final List<GeneratedHandler> myMethods;
    private final String path = "{{http.path}}";

    @Inject
    {{className}}(@Named("{{enclosingClassTypeName.name}}") List<GeneratedHandler> myMethods) {
        this.myMethods = myMethods;
    }

    @Override
    public void setup(HttpRouting.Builder routing) {
        routing.register(path, (HttpService) rules -> {
            for (GeneratedHandler handler : myMethods) {
                rules.route(handler.method(), handler.path(), (Handler) handler);
            }
        });
    }{{#if http.hasListener}}

    @Override
    public String socket() {
        return "{{http.listenerValue}}";
    }

    @Override
    public boolean socketRequired() {
        return {{http.listenerRequired}};
    }
    {{/if}}
}
